<div class="flex">
  <div class="w-col flex-no-shrink min-h-screen border-r border-grey-lighter px-4 pt-4">
    <h1 class='mt-3 mb-8'>Lecture</h1>
    <p class='text-sm leading-normal'>Build recordsFor.</p>

    <div class="mt-8 mb-8">
      <p class='text-sm text-grey uppercase mb-4'>
        Characters
        {{#if findCharacters.isRunning}}
          {{fa-icon 'spinner' spin=true}}
        {{/if}}
      </p>

      {{input class='p-2 text-sm border'
        value=characterName
        input=(perform findCharacters)
        type="text"
        placeholder='Name'}}

      <p class='text-sm text-grey uppercase mt-8 mb-4'>
        Episodes
        {{#if findEpisodes.isRunning}}
          {{fa-icon 'spinner' spin=true}}
        {{/if}}
      </p>

      {{input class='p-2 text-sm border'
        value=season
        input=(perform findEpisodes)
        type="text"
        placeholder='Season'}}

      {{input class='p-2 text-sm border mt-2'
        value=name
        input=(perform findEpisodes)
        type="text"
        placeholder='Name'}}
    </div>
  </div>

  <div class="flex-grow h-screen overflow-y-scroll">
    <div class="p-6">
      <div class="mx-auto">

        <div>
          <h2>Characters</h2>

          <div class="mt-4">
            <ul>
              {{#each findCharacters.lastSuccessful.value as |character|}}
                <li>{{character.name}}</li>
              {{/each}}
            </ul>
          </div>
        </div>

        <div class="mt-6">
          <h2>Episodes</h2>

          <div class="mt-4">
            {{episode-list episodes=findEpisodes.lastSuccessful.value}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
